.form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__section {
        padding: 16px;
        &--full {
            width: 100%;
        }
    }
    &__flex-box {
        flex-direction: row;
        padding-left: 0px;
        padding-bottom: 5px;
        padding-top: 5px;
        width: 33%;
        &--radio {
            padding: 16px;
        }
        &--option{
            padding: 16px;
            width: 50%;
        }
    }
    &__list{
        list-style-type: none;
        padding: 2px;
    }
}
